@import 'var','mixin','components';

.container{
  background-color:$mybg;
  height: 100vh;
  padding: 5rem;
  @include coolcenter();
  .section{
    color: $letercolor;
    width: 80vw;
    background-color:$linkcolors;
    @include coolborder(10px,solid);
    @include coolcenter();
    h2{
      text-align: center;
      @include coolborder(20px, dotted);
    }
    ul{
      li{
        margin: 1.5em;
        a{
          @extend .button;
          color: $myfont;
          text-decoration: none;
          text-transform: uppercase;
          &:hover{
            background-color: $mybg;
          }

          }
        span{
          margin: 1.5rem;
        }
      }
    }
  }
}
